server:
  port: 8000
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  jackson:
    serialization:
      fail-on-empty-beans: false

---
spring:
  config:
    import: "optional:classpath:/application.yml"
